                                         week 4

                                     Expiriment 4.1(i)&(ii)

Aim: 
i) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module. 
ii)Write a Pandas program to convert a Panda module Series to Python list and it's type

Description:
This program demonstrates how to create and display a one-dimensional array-like object called a Pandas Series, which is similar to a column in a spreadsheet. It also shows how to convert a Pandas Series into a Python list using the tolist() method and check its data type using the type() function. The program helps in understanding how data can be easily created, viewed, and converted using the Pandas module.

Procedure / Algorithm:
1.	Import the Pandas library.
2.	Create a one-dimensional data array using a Python list or NumPy array.
3.	Convert the array into a Pandas Series using pd.Series().
4.	Display the Series.
5.	Convert the Series into a Python list using the tolist() method.
6.	Display the list and its data type using type().

In [1]:
# 4.1) i) Create and display a Pandas Series
import pandas as pd

# Data for the series
my_data = [1, 7, 2, 9, 5]

# Create a Pandas Series
series = pd.Series(my_data)

# Display the Series
print("Pandas Series:")
print(series)

Pandas Series:
0    1
1    7
2    2
3    9
4    5
dtype: int64

In [2]:
# 4.1) ii) Convert a Pandas Series to a Python list
import pandas as pd

# Create a Pandas Series
series = pd.Series(['apple', 'banana', 'cherry', 'date'])

print(f"Original Pandas Series (type: {type(series)}):")
print(series)

# Convert the Series to a Python list
python_list = series.tolist()

print(f"\nConverted Python list (type: {type(python_list)}):")
print(python_list)

Original Pandas Series (type: <class 'pandas.core.series.Series'>):
0     apple
1    banana
2    cherry
3      date
dtype: object

Converted Python list (type: <class 'list'>):
['apple', 'banana', 'cherry', 'date']

                                     Expiriment 4.2

Aim: Pandas DataFrames: Consider Sample Python dictionary data and list labels: exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] i)Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. ii)Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame. iii)Write a Pandas program to insert a new column in existing DataFrame. iv)Write a Pandas program to get list from DataFrame column headers. v)Write a Pandas program to get list from DataFrame column headers.

Description:
This program demonstrates how to work with Pandas DataFrames using dictionary data and custom index labels. It performs several operations: creating and displaying a DataFrame, updating a specific value in a column, inserting a new column, and extracting the list of column headers. These operations show how flexible and powerful Pandas is for handling structured data like tables.

Procedure / Algorithm:
1.	Import the Pandas and NumPy libraries.
2.	Define a dictionary exam_data containing student information and a list of index labels.
3.	Create a DataFrame using pd.DataFrame() and assign the labels as its index.
4.	Display the DataFrame.
5.	Replace the name 'James' with 'Suresh' in the name column using .replace() or .loc[].
6.	Add a new column (for example, age) to the DataFrame using assignment.
7.	Extract the list of column headers using .columns.tolist().
8.	Display the modified DataFrame and column headers.

In [3]:
# 4.2) i) Create a DataFrame from a Dictionary
import pandas as pd
import numpy as np

# Sample data provided in the question
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create the DataFrame with specified index labels
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print("DataFrame from dictionary:")
print(df)

DataFrame from dictionary:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
# 4.2) ii) Change a value in a DataFrame
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

# Change the name 'James' to 'Suresh'
# We use .loc to find the row(s) where 'name' is 'James' and update that value
df.loc[df['name'] == 'James', 'name'] = 'Suresh'

print("\nDataFrame after changing 'James' to 'Suresh':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
# 4.2) iii) Insert a new column into a DataFrame
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

# Data for the new column (must have the same number of rows)
cities = ['New York', 'Moscow', 'London', 'Boston', 'Chicago', 'Paris', 'Sydney', 'Tokyo', 'Lisbon', 'Berlin']

# Insert the new 'city' column
df['city'] = cities

print("\nDataFrame after inserting 'city' column:")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after inserting 'city' column:
        name  score  attempts qualify      city
a  Anastasia   12.5         1     yes  New York
b       Dima    9.0         3      no    Moscow
c  Katherine   16.5         2     yes    London
d      James    NaN         3      no    Boston
e      Emily    9.0         2      no   Chicago
f    Michael   20.0         3     yes     Paris
g    Matthew   14.5         1     yes    Sydney
h      Laura    NaN         1      no     Tokyo
i      Kevin    8.0         2      no    Lisbon
j      Jonas   19.0         1     yes    Berlin